// Import the framework
@import 'node_modules/vanilla-framework/scss/vanilla'

// Here I override some of the values to add the '%' sign. Otherwise I was having those errors at build time:
/**
 
 SassError: $lightness: Expected -15 to have unit "%".
 ╷
 │       $button-active-background-color: scale-color($color-brand, $lightness: -$active-background-opacity-percentage),
 │                                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 
 **/  
$hover-background-opacity-amount: .05%
$hover-background-opacity-percentage: .05%

$active-background-opacity-amount: .15%
$active-background-opacity-percentage: .15%

$highlight-color: #a97da1
$illustration-ratio: percentage(540 / 960)

// Include base Vanilla styles
@include vf-base

// Include needed components
@include vf-p-grid
@include vf-p-card
@include vf-p-notification
@include vf-p-headings
@include vf-p-muted-heading

.container
  margin-top: $spv-outer--scaleable

.custom-card
  @extend .p-card--highlighted
  position: relative
  display: flex
  flex-direction: column

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    width: auto
    height: $bar-thickness
    background-color: $highlight-color

  .illustration
    width: 100%
    position: relative
    margin-bottom: $spv-inner--small

    &::before
      content: ''
      display: block
      width: 100%
      padding-bottom: $illustration-ratio

    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
      border-radius: $border-radius

.dotted-hr
  height: 0
  background: transparent
  border-top: 1px dotted $color-mid-light
  width: calc(100% + #{$sph-inner})
  left: - $sph-inner--small

.fill-space-v
  flex-grow: 1
